adafruit-blinka
adafruit-circuitpython-bmp3xx
adafruit-circuitpython-icm20x
click
imufusion
matplotlib
numpy
RPi.GPIO
scipy
yapf
adafruit-circuitpython-bno08x
Adafruit-Blinka
adafruit-circuitpython-busdevice